#ticker_container {
    background: #ffffff;
    padding: 0 20px;
    line-height: 40px;
    overflow: auto;
}
.tickertitle {
    width: 100%;
    margin: 20px 0;	
}
#controls {
    float: right;
    display: block;
    margin-top: 8px;
    line-height: 16px;
}
div#controls > a {
    margin: 2px;
}
div#controls > a .icon {
    display: inline-block;
    width: 16px;
    height: 24px;
}
.tickertitle>.bn-title{width: 7%;float: left;width:auto; height:40px; display:inline-block; background:#2096cd; position:relative;}
.tickertitle>.bn-title>p{display:inline-block; margin:0; padding:0 20px; line-height:40px; font-size:20px; color:#FFF; height:40px; box-sizing:border-box;}
.tickertitle>.bn-title>span{width: 0;position:absolute;right:-10px;top:10px;height: 0;border-style: solid;border-width: 10px 0 10px 10px;border-color: transparent transparent transparent #2096cd;}