/*=======================================
		Added User Custome style
=======================================*/

/*Separator Style*/
.separator-custom-spotlight {
	h4 {
		font-size: 18px;
		font-weight: Bold;
		color: #696969;
	}
}

.info-box-component.info-box-extra {
	#info-box-wrap {
		margin-bottom: 10px;
	}
}

.separator-custom-spotlight-sec {
	h4 {
		font-size: 22px;
		font-weight: Bold;
		color: #2c2c2c;
	}
}

/*Product Index view*/
.woocommerce {
	ul.products.product-display-custom {
		text-align: left;

		li.product {
			margin-bottom: 18px;
			padding-bottom: 18px;

			.button {
				margin-top: 1em;
			}

			.star-rating {
				width: 7.4em;
				font-size: .857em;

				span:before {
					color: #ffd200;
					letter-spacing: 6px;
				}
			}

			.star-rating:before {
				color: #ffd200;
				letter-spacing: 6px;
			}

			h3 {
				font-size: 12px;
				color: #444444;
				font-weight: 700;
				text-transform: uppercase;
				cursor: pointer;
			}

			.woocommerce-loop-product__title,
			.woocommerce-loop-category__title {
				padding: .5em 0;
				margin: 0;
				font-size: 1em;
				text-transform: uppercase;

				a {
					color: #333;
					transition: all .3s;
				}
			}

			.woocommerce-loop-category__title {
				color: #fff;
			    text-align: center;
			    display: inline-block;
			    text-transform: uppercase;
			    background: #444;
			    position: absolute;
			    bottom: 5%;
			    left: 0;
			    padding: 9px 11px;
			    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);

			    .thumb-info-type {
			    	display: block;
				    margin: 8px -2px -15px -2px;
				    padding: 2px 9px;
				    color: #fff;
				    font-size: 12px;
				    text-transform: capitalize;
				    line-height: 24px;
			    }

				mark.count {
					background: transparent;
					color: #fff;
					margin-right: 5px;
				}
			}

			span.price {
				font-size: 14px;
				text-decoration: none;
				font-weight: 600;

				ins {
					float: left;
					margin-right: 10px;
					text-decoration: none;
				}

				del {
					color: #8c8c8c;
					font-size: 14px;
					font-weight: 600;
				}
			}

			a.woocommerce-LoopProduct-link {
				display: block;
				position: relative;

				img {
					transition: all .5s;
				}

				&.loading:after {
					content: '';
					display: block;
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0; left: 0;
					background: url("../images/Interwind.gif") center no-repeat rgba(255,255,255,0.65);
					background-size: 40px auto;
    				background-position: 50% 100%;
				}
			}

			.add-btns-wrap {

				.add-btn {
					float: left;
				}

				.add-btn:after {
					content: "";
					display: table;
					clear: both;
				}

				.add_to_cart_button, .button {
					padding: 9px 15px;
					background: #ffffff;
					border: 1px solid #cccccc;
					border-radius: 0;
					text-transform: uppercase;
					color: #696969;
					font-size: 11px;
					transition: all 0.5s ease 0s;
                    -webkit-transition: all 0.5s ease 0s;
                    float: left;
				}

				a.button.loading:after {
					background: #fff url(../images/ajax-loader@2x.gif) no-repeat scroll center center / 1.1em 1.1em;
				    border-radius: 0;
				    opacity: 0.5;
				    position: absolute;
				    left: 0;
				    right: 0;
				    top: 0;
				    bottom: 0;
				    content: "";
				    animation: none;
				}

				.add_to_cart_button:hover,
				.button:hover {
					color: #ffffff;
				}

				.add_to_cart_button:before,
				.button:before {
					content: "\f07a";
			    	font-family: 'FontAwesome';
			    	margin-right: 10px;
				}

				.add_to_cart_button.added:after {
					content: none;
				}

				.yith-wcwl-add-to-wishlist {
					float: left;
					margin: 11px 0 0 5px;

					> div {
						opacity: 0;
						-webkit-animation-duration: 0.2s;
					    -moz-animation-duration: 0.2s;
					    -o-animation-duration: 0.2s;
					    animation-duration: 0.2s;
					    position: relative;
					}
					a, span {
						background: transparent;
						padding: 0;
						text-indent: -9999em;
						width: 2.2em;
						height: 2.3em;
						position: relative;
						display: block;
						border: 1px solid #cccccc;
						border-radius: 0;
						transition: all .5s;
						margin: 0;
					}

					a:before, span:before {
						text-indent: 0;
						position: absolute;
						left: 0; right: 0;
						content: "\f004";
						font-family: 'FontAwesome';
						font-size: 11px;
						color: #696969;
						text-align: center;
						line-height: 2.6em;
						transition: all .5s;
					}

					.yith-wcwl-wishlistexistsbrowse,
					.yith-wcwl-wishlistaddedbrowse {
						a:hover:before {
							color: #ffffff;
						}						
					}

					a:hover:before {
						color: #ffffff;
					}

					span.feedback {
						display: none;
					}

					span.ajax-loading {
						border: 1px solid #cccccc;
						height: 2.2em !important;
						width: 2.2em !important;
						left: 0;
						top: 0;
						margin: 0;
						padding: 0;
						position: absolute;
						background: #fff url(../images/ajax-loader@2x.gif) no-repeat scroll center center / 1.1em 1.1em;
						opacity: 0.7;
					}

					span.ajax-loading:before {
						content: none;
					}
				}
			}

			.email-link {
				float: left;
				margin: 11px 0 0 5px;
				opacity: 0;
			    -webkit-animation-duration: 0.3s;
			    -moz-animation-duration: 0.3s;
			    -o-animation-duration: 0.3s;
			    animation-duration: 0.3s;

				.email-to-friend {
					background: transparent;
				    padding: 0;
				    text-indent: -9999em;
				    width: 2.2em;
				    height: 2.3em;
				    position: relative;
				    display: inline-block;
				    border: 1px solid #cccccc;
				    border-radius: 0;
				    transition: all .5s;
				}

				.email-to-friend:before {
					text-indent: 0;
				    position: absolute;
				    left: 0;
				    right: 0;
				    content: "\f0e0";
				    font-family: 'FontAwesome';
				    font-size: 11px;
				    color: #696969;
				    text-align: center;
				    line-height: 2.6em;
				    transition: all .5s;
				}
			}

			.quickview {
				position: absolute;
				text-indent: -9999em;
				background: rgba(0, 0, 0, 0.5);
				color: #ffffff;
				border: none;
				border-radius: 100%;
				width: 2.8em;
				height: 2.8em;
				top: 30%; left: 50%;
				cursor: pointer;
				z-index: 1;
				transform: translate(-50%, -50%) scale(0, 0);
				opacity: 0;
				transition: all .5s;
			}

			.quickview:before {
				content: "\f06e";
				position: absolute;
				left: 0; right: 0;
				text-indent: 0;
				font-size: 1.3em;
				display: inline-block;
				font-family: "FontAwesome";
				text-align: center;
				line-height: 2.3em;
			}

			.added_to_cart {
				width: 4.6em;
				height: 4.6em;
				overflow: hidden;
				position: absolute;
				top: 30%;
				left: 50%;
				transform: translate(-50%, -50%);
				transition: all 0.5s ease 0s;
                -webkit-transition: all 0.5s ease 0s;
                z-index: 2;
			}

			.added_to_cart:before {
				content: "\f290";
				font-family: 'FontAwesome';
				background: #ffffff;
				border-radius: 50%;
				font-size: 1.8em;
				display: block;
				height: 2.2em;
				width: 2.2em;
				text-align: center;
				line-height: 2.1em;
				transition: all 0.5s ease 0s;
                -webkit-transition: all 0.5s ease 0s;
			}

			.added_to_cart:hover:before {
				color: #ffffff;
			}

			&.product-category {
				position: relative;

				img {
					border: 4px solid #e6e6e6;
					padding: 5px;
					transition: all .3s;
				}

				&:hover {
					img {
						border-width: 1px;
					}
				}
			}
		}

		li.product:hover {

			a.woocommerce-LoopProduct-link {
				img {
					transform: rotateY(180deg);
				}
			}

			.add-btns-wrap {

				.yith-wcwl-add-to-wishlist {
					>div {
						opacity: 1;
					    -webkit-animation-name: fadeInUp;
					    -moz-animation-name: fadeInUp;
					    -o-animation-name: fadeInUp;
					    animation-name: fadeInUp;
					    -webkit-animation-timing-function: ease-in;
					    -moz-animation-timing-function: ease-in;
					    -o-animation-timing-function: ease-in;
					    animation-timing-function: ease-in;
					}
				}

				.email-link {
					opacity: 1;
				    -webkit-animation-name: fadeInUp;
				    -moz-animation-name: fadeInUp;
				    -o-animation-name: fadeInUp;
				    animation-name: fadeInUp;
				    -webkit-animation-timing-function: ease-in;
				    -moz-animation-timing-function: ease-in;
				    -o-animation-timing-function: ease-in;
				    animation-timing-function: ease-in;
				}
			}

			.quickview {
				opacity: 1;
				transform: translate(-50%, -50%) scale(1, 1);
			}
		}

		li.product-filp-disabled.product:hover {
			a.woocommerce-LoopProduct-link {
				img {
					transform: rotateY(0deg);
				}
			}
		}

		@media ( min-width: 768px ) {
			&[ data-column='1' ] {
				li.product {
					width: 100%;
				}
			}

			&[ data-column='2' ] {
				li.product {
					width: 48%;
				}
			}

			&[ data-column='3' ] {
				li.product {
					width: 30.8%;
				}
			}

			&[ data-column='4' ] {
				li.product {
					width: 22.05%;
				}
			}

			&[ data-column='5' ] {
				li.product {
					width: 16.9%;
				}
			}

			&[ data-column='6' ] {
				li.product {
					width: 13.5%;
				}
			}

			&[ data-column='7' ] {
				li.product {
					width: 11%;
				}
			}
		}
	}

	.products.home-products-carousel-enable.product-display-custom {
		text-align: left;

		.product {
			width: 100% !important;
		}
	}
}

/*Product Fancy box view*/
#fancybox-loading {
	background-image: none;
	background-color: transparent;
	border-radius: 0;
	box-shadow: none;
	opacity: 1;
	z-index: 999;

	div {
		background-image: none;
		display: none;
	}
}

#fancybox-loading:before {
	content: " ";
    display: inline-block !important;
    border-width: 3px 5px 2px 0;
    width: 32px;
    height: 32px;
    -moz-animation: spin 0.8s infinite linear;
    -o-animation: spin 0.8s infinite linear;
    -webkit-animation: spin 0.8s infinite linear;
    animation: spin 0.8s infinite linear;
    display: inline-block;
    border-image: none;
    border-radius: 20px;
    border-style: solid;
    border-bottom-color: transparent !important;
    vertical-align: middle;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
	border-color: #ea6a4a;
}

.fancybox-opened {
	.fancybox-skin {
		background: #fbfbfb;

		.product-summary-wrap {
			.summary-before {
				.woocommerce-main-image{
					width: 100%;

					img {
						border: 1px solid #dddddd;
						height: auto;
						width: 100%;
					}
				} 
			}
		}
	}
}

/*QuickView*/
.homemarket-quick-view {

	.product_title {
		font-size: 2em;
		font-weight: 600;
		margin-bottom: 0.5em;

		a {
			color: #555555;
			text-decoration: none;
		}
	}

	.woocommerce.woocommerce-product-rating {
		margin: 10px 0;

		.star-rating {
			float: none;
			width: 6.6em;
			font-size: 1.4em;
			display: inline-block;

			span:before {
				color: #ffd200;
				letter-spacing: 6px;
			}
		}

		.review-link {
			display: inline-block;

			a {
				color: #bdbdbd;
				font-size: 16px;
				line-height: 22px;
				font-weight: 400;
				font-family: Lato;
			}

			a:hover {
				color: #888888;
				text-decoration: underline;
			}
		}

		.star-rating:before {
			color: #ffd200;
			letter-spacing: 6px;
		}
	}

	.price {
		font-family: Lato;

		span.woocommerce-Price-amount {
			color: #ea6a4a;
			margin-top: 20px;
			font-size: 2em;
			font-weight: 600;
			line-height: 1;
			text-decoration: none;
		}

		ins {
			text-decoration: none;
			margin-right: 10px;
		}

		del {
			span.woocommerce-Price-amount {
				color: #a7a7a7;
				font-weight: 600;
				font-size: 1.8em;
			}
		}
	}

	div[ itemprop=description ] p {
		color: #777777;
		font-size: 15px;
		margin: 20px 0;
	}

	.quantity.homemarket-quantity {
		display: inline-flex;
		float: none !important;
		margin-top: 1em !important;
		margin-bottom: 40px !important;

		.qty-down, .qty-up {
			height: 42px;
		    display: inline-block;
		    border: 1px solid #e5e5e5;
		    padding: 0 8px;
		    vertical-align: top;
		    line-height: 42px;
		    background: #fff;
		    cursor: pointer;
		}

		.qty-down:hover, .qty-up:hover {
			i {
				color: #ea6a4a;
			}
		}

		input#qs-quantity {
			text-align: center;
			outline: none;
			border-left: none;
			border-right: none;
			border-radius: 0;
		}

		input#qs-quantity:focus {
			border-color: #e5e5e5;
		}
	}

	form.variations_form {
		table.variations {
			tr {
				td {
					label {
						padding-left: 0;
						font-size: 14px;
						color: #696969;
					}

					a.reset_variations {
						font-size: 14px;
						color: #fa5555;
					}

					select {
						min-width: initial !important;
						border-radius: 0;
						box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
					}
				}
			}
		}
	}

	.woocommerce-variation {
		margin-bottom: 15px;
	}
}

/*Single Product*/
.single_add_to_cart_button, .woocommerce button.button.single_add_to_cart_button,
.woocommerce button.button.single_add_to_cart_button.disabled,
.woocommerce button.button.single_add_to_cart_button.disabled:hover {
	padding: 9px 15px;
	background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 0;
    text-transform: uppercase;
    color: #696969;
    font-size: 11px;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    font-weight: 700;
    margin: 2em 0 1em;
}
.single_add_to_cart_button:hover, .woocommerce button.button.single_add_to_cart_button:hover {
	color: #ffffff;
	background: #ea6a4a;
	border-color: #ea6a4a;
}

.single_add_to_cart_button:before {
	content: "\f07a";
    font-family: 'FontAwesome';
    margin-right: 10px;
}

.product_meta {
	margin-bottom: 1.5em;
	.posted_in {
		margin-bottom: 0.5em;
	}

	>div {
		color: #777777;
		font-family: Lato;
		font-size: 14px;
		line-height: 22px;

		a {
			outline: none;
			color: #ea6a4a;
			transition: all .3s; 
		}

		a:hover {
			text-decoration: underline;
			opacity: 0.8;
		}
	}

	.sku_wrapper {
		color: #777777;
		font-family: Lato;
		font-size: 14px;
		line-height: 22px;
	}
}

/* Yith Message box */
#yith-wcwl-popup-message {
	border: 3px solid #fa5555;
	width: 250px;
	padding: 15px 20px;

	#yith-wcwl-message {
		color: #777777;
		font-size: 16px;
		font-weight: 600;
		line-height: 1.5;
	}
}

/*owl Carousel Dot custom*/
.owl-carousel {
	.owl-dots {
		text-align: center;

		.owl-dot {
			display: inline-block;
			zoom: 1;

			span {
				width: 10px;
			    height: 10px;
			    margin: 5px 7px;
			    background: #d6d6d6;
			    display: block;
			    -webkit-backface-visibility: visible;
			    -webkit-transition: opacity 200ms ease;
			    -moz-transition: opacity 200ms ease;
			    -ms-transition: opacity 200ms ease;
			    -o-transition: opacity 200ms ease;
			    transition: opacity 200ms ease;
			    -webkit-border-radius: 30px;
			    -moz-border-radius: 30px;
			    border-radius: 30px;
			}
		}

		.owl-dot:hover {
			span {
				background-color: #fa5555;
			}
		}

		.owl-dot.active {
			span {
				background-color: #fa5555;
			}	
		}
	}
}

/*Shop page*/
.breadcrumb-container {
	margin-bottom: 50px;

	#breadcrumb-wrapper {
		padding: 60px 0;
		
		.woocommerce-breadcrumb {
			text-align: center;
			color: #ffffff;
			font-size: 14px;
			font-weight: normal;
			margin: 0;

			a {
				color: #ffffff;
			}

			i {
				font-family: "FontAwesome";
				color: #ffffff;
				display: inline-block;
				width: 45px;
				text-align: center;
				font-style: normal;
			}

			i.delimiter:before {
				content: "/\00a0";
			    position: relative;
			    right: -2px;
			}

			i.delimiter.delimiter-2:before {
				content: "\f105";
	    		right: -1px;
			}
		}

		h1.page-title {
			color: #ffffff;
			font-weight: 400;
			margin: 0;
			text-align: center;
			text-transform: uppercase;
		}

		.product-detail-title {
			h2 {
				color: #ffffff;
				font-size: 2.57143em;
				font-weight: 400;
				margin: 0;
				text-align: center;
				text-transform: uppercase;
			}
		}
	}
}

#collection {
	margin-bottom: 50px;

	.products-content {

		.shop-loop-before {
			border: 1px solid #e5e5e5;
			padding: 7px 5px;
			margin-bottom: 30px;

			.sort-view {
				float: right;

				.woocommerce-ordering {
					float: left;
					margin: 0;

					label {
						cursor: pointer;
						line-height: 29px;
						color: #696969;
						margin-right: 10px;
					}

					select.orderby {
						border-radius: 0;
						box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
						color: #333333;
						font-family: Lato;
						height: 2.2em;
						padding: 0 1.3em 0 0.22em;
						outline: none;
					}
				}

				.gridlist-toggle {
					float: right;
					margin-left: 7.5px;

					>a {
						padding: 7px;
						line-height: 29px;
						color: #e5e5e5;
						transition: all .2s;
					}

					>a:hover, >a.active {
						color: #fa5555;
					}

					a#grid:before {
						font-family: "icons";
						content: "\e603";
					}

					a#list:before {
						font-family: "icons";
						content: "\e604";
					}
				}
			}
		}

		.shop-loop-before:after {
			content: '';
			display: table;
			clear: both;
		}
	}

	.sidebar-content {
		
	}
}

#collection.left-page {
	.products-content {
		width: 75%;
		float: right;
		padding-left: 16px;
	}

	.sidebar-content {
		width: 25%;
		float: left;
	}
}

#collection.right-page {
	.products-content {
		width: 75%;
		float: left;
	}

	.sidebar-content {
		width: 25%;
		float: right;
		padding-left: 16px;
	}
}

#collection.full-page {
	.products-content {
		width: 100%;
	}

	.sidebar-content {
		display: none;
	}
}

.no-product-info {
	background: #fa5555;
	color: #ffffff;
	padding: 15px;
	font-family: Lato;
	margin-bottom: 30px;
	font-size: 20px;
	text-align: center;
}

/* Product Grid-List View */
.woocommerce {
	.products.product-display-custom, .grid.product-display-custom {
		.product {
			.description {
				display: none;
			}
		}
	}

	.products.product-display-custom.list {
		.product {
			width: 100% !important;

			.description {
				display: block;
			}

			>a {
				width: 30%;
				float: left;
				margin-right: 15px;
			}

			.add-btns-wrap {
			    margin-top: 25px;
			    padding-bottom: 25px;
			    border-bottom: 1px solid #e5e5e5;

			    &:after {
			    	content: '';
				    display: block;
				    clear: both;
			    }
			}

			.quickview, a.added_to_cart {
				top: 50%;
				left: 15%;
			}
		}

		.product:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}	
}

.woocommerce.half_width {
	.products.product-display-custom.list {
		.product {
			>a {
				width: 57.5%;
			}
		}
	}
}
/* Pagination Custom */
.shop-loop-before {
	.woocommerce-pagination {
		float: left;
		height: 2.2em;
		padding-left: 15px;
	}
}

.woocommerce {
	nav.woocommerce-pagination {
		.woocommerce-viewing {
			display: inline-block;
			vertical-align: top;

			label {
				vertical-align: middle;
				color: #696969;
			}

			select {
				margin-left: 7px;
				font-size: 1em;
				padding: 0 1.3em 0 0.22em;
				height: 2.2em;
				line-height: 1.42857;
			    vertical-align: middle;
			    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
				border-radius: 0;
				border: 1px solid #cccccc;
				text-align: left;
				outline: none;
			}
		}

		ul.page-numbers {
			display: inline-block;
			margin-left: 10px !important;
			border: none !important;

			li {
				margin-left: 5px !important;
				border: none;

				a, span {
					border: 1px solid #cccccc;
					border-radius: 0;
					padding: 0 0.5em;
					line-height: 2.1em;
					min-width: 2.2em;
					height: 2.2em;
					text-decoration: none;
					text-align: center;
					color: #333333;
				}

				a:hover, a:focus, span.current {
					background-color: #269d8a;
					border-color: #269d8a;
					color: #ffffff;
				}

				.next, .prev {
					text-indent: -9999px;
					width: 2.2em;
					position: relative;
				}

				.next:before, .prev:before {
					font-family: "FontAwesome";
				    position: absolute;
				    top: 0;
				    left: 0;
				    right: 0;
				    text-indent: 0;
				}

				.next:before {
					content: "\f0da";
				}

				.prev:before {
					content: "\f0d9";
				}
			}
		}
	}	
}

.yith-wcan-loading {
	height: 200px;
	position: relative;
	background: none;
}

.yith-wcan-loading:before {
	content: " ";
    display: inline-block !important;
    border-width: 3px 5px 2px 0;
    width: 32px;
    height: 32px;
    -moz-animation: spin 0.8s infinite linear;
    -o-animation: spin 0.8s infinite linear;
    -webkit-animation: spin 0.8s infinite linear; 
    animation: spin 0.8s infinite linear; 
    display: inline-block;
    border-image: none;
    border-radius: 20px;
    border-style: solid;
    border-bottom-color: transparent !important;
    vertical-align: middle;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-color: #08c;
}

.woocommerce {
	.blockUI.blockOverlay {
		background-color: transparent !important;
	}
	.blockUI.blockOverlay:before {
		background: none;
	}
}

/* Page Sidebar */
.sidebar-group {
	aside.sidebar {
		border: 1px solid #e5e5e5;
		margin-bottom: 20px;

		h3.sidebar-title {
			background: #f1f1f1;
			border-bottom: 1px solid #e5e5e5;
			color: #2c2c2c;
			font-size: 16px;
			padding: 9px 15px;
			text-transform: uppercase;
			position: relative;
			margin: 0;

			span.toggle {
				display: inline-block;
			    width: 1.8571em;
			    height: 1.8571em;
			    line-height: 1.7572em;
			    color: #ccc;
			    background: #fff;
			    border: 1px solid #ccc;
			    border-radius: 0;
			    position: absolute;
			    right: 1.0714em;
			    top: 1px;
			    bottom: 0;
			    margin: auto;
			    padding: 0;
			    cursor: pointer;
			    font-family: "FontAwesome";
			    text-align: center;
			    -webkit-transition: all 0.25s ease 0s;
			    -moz-transition: all 0.25s ease 0s;
			    transition: all 0.25s ease 0s;
			}

			span.toggle:before {
				content: "\f0d8";
			}

			span.toggle:hover {
				border-color: #08c;
				background-color: #08c;
				color: #ffffff;
			}
		}

		ul.product-categories {

			li {
				a, span {
					text-transform: none;
					font-size: 13px;
					color: #696969;
					transition: all .3s;
				}

				a:before {
					content: "\f105";
					font-family: "FontAwesome";
					margin-right: 3px;
				}

				> ul.children {
					margin-left: 20px;
					margin-top: 10px;
					display: none;
				}
			}

			li+li {
				margin-top: 10px;
			}

			li.current-cat {
				> a, > span {
					color: #fa5555;
				}
			}

			li.cat-parent {
				position: relative;

				&:after {
					content: "\f0fe";
				    font-family: FontAwesome;
				    color: #696969;
				    position: absolute;
				    top: 2px;
				    right: 0;
				    z-index: 10;
				    cursor: pointer;
				}

				&.parent-open:after {
					content: "\f146";
				}

				&.current-cat {
					ul.children {
						display: block;
					}
				}

				&.current-cat-parent ul.children {
					display: block;
				}
			}
		}

		ul.yith-wcan-color {
			li a {
				margin-right: 10px;
			}
		}

		>ul {
			padding: 15px;
		}
	}

	aside.sidebar.closed {
		h3.sidebar-title {
			border-bottom-width: 0;

			span.toggle:before {
				content: "\f0d7";
			}
		}
	}

	aside.sidebar:before, aside.sidebar:after {
		content: '';
		display: table;
	}

	aside.sidebar:after {
		clear: both;
	}
}

.prices-list-filter {
	input[type="checkbox"]:not(:checked),
	input[type="checkbox"]:checked {
		position: absolute;
		left: -9999em;
	}

	input[type="checkbox"]:not(:checked) + label:before,
	input[type="checkbox"]:checked + label:before {
		content: '';
	    position: absolute;
	    left: 0;
	    top: 1px;
	    width: 13px;
	    height: 13px;
	    border: 1px solid #898989;
	    background: transparent;
	    border-radius: 3px;
	}

	input[type="checkbox"]:not(:checked) + label:after,
	input[type="checkbox"]:checked + label:after {
	    content: "\f00c";
	    position: absolute;
	    top: 2px;
	    left: 1px;
	    font-size: 13px;
	    font-family: "FontAwesome";
	    line-height: 0.8;
	    color: #525252;
	    transition: all 0.2s;
	}

	input[type="checkbox"]:not(:checked) + label:after {
		opacity: 0;
		transform: scale(0);
	}

	input[type="checkbox"]:checked + label:after {
		opacity: 1;
		transform: scale(1);
	}

	label {
		padding-left: 23px;
		position: relative;
	}
}

.ajax-product-filter {
	.prices-list-filter {
		li {
			label {
				color: #696969;
				font-size: 13px;
				transition: all .3s;
			}
		}

		li + li {
			margin-top: 10px;
		}
	}
}

.woocommerce {
	ul.product_list_widget {
		li {
			margin-bottom: 30px;

			.product-image {
				width: 40%;
				float: left;
				margin-right: 15px;

				img {
					float: none;
					width: 100%;
				}
			}

			.product-info {
				h3 {
					font-size: 12px;
					font-weight: 700;
					color: #444444;
					text-transform: uppercase;
					line-height: 1.9;
				}

				.star-rating {
					width: 7.4em;
					font-size: 0.857em;
					font-weight: 400;
					margin-bottom: 10px;

					span:before {
						color: #ffd200;
						letter-spacing: 6px;
					}
				}

				.star-rating:before {
					color: #ffd200;
					letter-spacing: 6px;
				}

				ins, del {
					font-size: 14px;
					font-weight: 600px;
					color: #8c8c8c;
				}

				ins {
					color: #fa5555;
					margin-right: 10px;
				}
			}
		}

		li:last-child {
			margin: 0;
		}
	}

	.image-blog {
		img {
			display: block;
		}
	}
} 

/*Product detail page*/
.product-review-part {
	#product-detail-content {

		.grid__item {
			padding: 0;

			.product_title {
				font-size: 2em;
				font-weight: 600;
				margin-bottom: 0.5em;

				a {
					color: #555555;
					text-decoration: none;
				}
			}

			.woocommerce.woocommerce-product-rating {
				margin: 10px 0;

				.star-rating {
					float: none;
					width: 6.6em;
					font-size: 1.4em;
					display: inline-block;

					span:before {
						color: #ffd200;
	    				letter-spacing: 6px;
					}
				}

				.review-link {
					display: inline-block;

					a {
						color: #bdbdbd;
						font-size: 16px;
						line-height: 22px;
						font-weight: 400;
						font-family: Lato;
					}

					a:hover {
						color: #888888;
						text-decoration: underline;
					}
				}

				.star-rating:before {
					color: #ffd200;
	    			letter-spacing: 6px;
				}
			}

			.price {
				font-family: Lato;

				span.woocommerce-Price-amount {
					color: #ea6a4a;
					font-size: 2.4em;
					font-weight: 600;
					line-height: 1;
					text-decoration: none;
				}

				ins {
					text-decoration: none;
					margin-right: 10px;
				}

				del {
					span.woocommerce-Price-amount {
						color: #a7a7a7;
						font-weight: 600;
						font-size: 1.8em;
					}
				}
			}

			div[ itemprop=description ] p {
				color: #777777;
				font-size: 15px;
				margin: 20px 0;
			}

			.images {
				.thumbnails {
					a img {
						width: 92px;
						height: auto;
					}
				}
			}
		}

		.grid__item:nth-child(2) {
			padding-left: 30px;
		}

		.quantity.homemarket-quantity {
			display: inline-flex;
			margin-top: 1em;

			.qty-down, .qty-up {
				height: 42px;
			    display: inline-block;
			    border: 1px solid #e5e5e5;
			    padding: 0 8px;
			    vertical-align: top;
			    line-height: 42px;
			    background: #fff;
			    cursor: pointer;
			}

			.qty-down:hover, .qty-up:hover {
				i {
					color: #ea6a4a;
				}
			}

			input#qs-quantity {
				text-align: center;
				outline: none;
				border-left: none;
				border-right: none;
				border-radius: 0;
				width: 4.631em;
			}

			input#qs-quantity:focus {
				border-color: #e5e5e5;
			}
		}

		.product-images {
			width: 100% !important;
			float: none !important;

			.product-image-slider {
				margin-bottom: 10px;
				border: 1px solid #dddddd;

				.inner {
					display: block;
					overflow: hidden;
					position: relative;
					backface-visibility: hidden;
					border-radius: 0;
					transform: translate3d(0, 0, 0);
				}

				.owl-item {
					img {
						width: 99%;
					}
				}

				.owl-nav {
					position: absolute;
					text-align: center;
					width: 100%;
					top: 50%;
					margin-top: -20px;

					>div {
						margin: 5px;
						padding: 4px 7px;
						border-radius: 0;
						background: transparent;
						font-size: 22px;
						color: #08c;
						opacity: 0;
						transition: all .2s;
						text-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
					}

					.owl-next {
						display: inline-block;
						position: absolute;
						width: 30px;
						height: 30px;
						text-align: center;
						right: -13px;
					}

					.owl-next:before {
						font-family: FontAwesome;
					    content: "\f054";
					    position: relative;
					    left: 1px;
					    top: 1px;
					}

					.owl-prev {
						display: inline-block;
						position: absolute;
						width: 30px;
						height: 30px;
						text-align: center;
						left: -13px;
					}

					.owl-prev:before {
						font-family: FontAwesome;
					    content: "\f053";
					    position: relative;
					    left: 1px;
					    top: 1px;
					}
				}
			}

			.product-image-slider:hover {
				.owl-nav {
					.owl-next {
						opacity: 1;
						right: 0;
					}

					.owl-prev {
						opacity: 1;
						left: 0;
					}
				}
			}
		}

		.product-thumbs-slider {
			.owl-item {
				img {
					opacity: 0.5;
					border: 1px solid #dddddd;
					cursor: pointer;
				    -webkit-transition: opacity 0.3s ease 0s;
				    -moz-transition: opacity 0.3s ease 0s;
				    transition: opacity 0.3s ease 0s;
				}
			}

			.owl-item:hover, .owl-item.selected {
				img {
					opacity: 1;
				}
			}

			.thumb-nav {
				position: absolute;
				text-align: center;
				width: 100%;
				top: 50%;
				margin-top: -20px;

				>div {
					margin: 5px;
					padding: 4px 7px;
					border-radius: 0;
					background: transparent;
					font-size: 15px;
					color: #08c;
					opacity: 0;
					cursor: pointer;
					transition: all .2s;
					text-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
				}

				.thumb-next {
					display: inline-block;
					position: absolute;
					width: 30px;
					height: 30px;
					text-align: center;
					right: -13px;
				}

				.thumb-next:before {
					font-family: FontAwesome;
				    content: "\f054";
				    position: relative;
				    left: 1px;
				    top: 1px;
				}

				.thumb-prev {
					display: inline-block;
					position: absolute;
					width: 30px;
					height: 30px;
					text-align: center;
					left: -13px;
				}

				.thumb-prev:before {
					font-family: FontAwesome;
				    content: "\f053";
				    position: relative;
				    left: 1px;
				    top: 1px;
				}
			}
		}

		.product-thumbs-slider:hover {
			.thumb-nav {
				.thumb-next {
					opacity: 1;
					right: 0;
				}

				.thumb-prev {
					opacity: 1;
					left: 0;
				}
			}
		}

		.single_add_to_cart_button, .woocommerce button.button.single_add_to_cart_button {
			background: #fa5555;
			border-color: #fa5555;
			color: #ffffff;
			font-size: 20px;
			line-height: 25px;
			min-width: 250px;
			margin-bottom: 0;
			outline: none;
			text-align: center;
		}

		form.cart {
			margin-bottom: 20px;
		}

		.single_add_to_cart_button:hover, .woocommerce button.button.single_add_to_cart_button:hover {
			border-color: #e5e5e5;
			background: #e5e5e5;
			color: #696969;
		}

		.yith-wcwl-add-to-wishlist {
			padding-bottom: 15px;
			border-bottom: 1px solid #e5e5e5;

			> div {
				a {
					color: #000000;
					font-family: Lato;
					font-weight: normal;
				}

				.add_to_wishlist {
					font-weight: normal;
					padding: 0;
				}

				span.feedback {
					display: none;
				}

				a[ rel=nofollow ]:before {
					content: "\f004";
				    font-family: 'FontAwesome';
				    font-size: 14px;
				    color: #fa5555;
				    line-height: 2.6em;
				    transition: all .5s;
				    margin-right: 10px;
				}

				.add_to_wishlist[ rel=nofollow ]:before {
					content: none;
				}

			}
		}

		.product_meta {
			padding-bottom: 15px;
			border-bottom: 1px solid #e5e5e5;
		}

		.share-links {
			margin-top: 15px;

			.icon-social {
				i {
					font-size: 27px;
					padding: 3px;
					border-radius: 3px;
					color: #ffffff;
					background: #08c;
					width: 1.486em;
					height: 1.486em;
					text-align: center;
					margin: 5px 5px 5px 0;
					display: inline-block;
					line-height: 1.3em;
					transition: all .3s;
				}

				i.fa-facebook {
					background: #3b5a9a;
				}

				i.fa-twitter {
					background: #1aa9e1;
				}

				i.fa-rss {
					background: #0073b2;
				}

				i.fa-pinterest {
					background: #cc2127;
				}

				i.fa-youtube {
					background: #0073b2;
				}

				i.fa-instagram {
					background: #dd4b39;
				}

				i.fa-skype {
					background: #3b5a9a;
				}

				i.fa-linkedin {
					background: #0073b2;
				}

				i.fa-googleplue {
					background: #dd4b39;
				}

				i.fa-vk {
		    		background: #1aa9e1;
				}

				i.fa-xing {
					background: #cc2127;
				}

				i.fa-tumblr {
		  			background: #0073b2;
				}

				i.fa-reddit {
				    background: #dd4b39;
				}

				i.fa-vimeo {
				    background: #3b5a9a;
				}

				i.fa-telegram {
		    		background: #0073b2;
				}

				i.fa-yelp {
		    		background: #cc2127;
				}

				i.fa-flickr {
					background: #dd4b39;
				}

				i:hover {
					opacity: 0.7;
				}
			}
		}

		form.variations_form {
			table.variations {
				border-bottom: 1px solid #e5e5e5;

				tr {
					td {
						label {
							padding-left: 0;
							font-size: 14px;
							color: #696969;
						}

						a.reset_variations {
							font-size: 14px;
							color: #fa5555;
						}

						select {
							min-width: initial;
							border-radius: 0;
							box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
						}
					}
				}

				tr:last-child {
					td {
						padding-bottom: 35px;
					}
				}
			}
		}
	}

	#product-detail-content:after {
		content: '';
		display: table;
		clear: both;
	}	
}

.product-review-part.left-page {
	#product-detail-content {
		width: 75%;
		float: left;
	}

	.product-sidebar-group {
		width: 25%;
		float: right;
		padding-left: 15px;
	}
}

.product-review-part.right-page {
	#product-detail-content {
		width: 75%;
		float: right;
	}

	.product-sidebar-group {
		width: 25%;
		float: left;
		padding-right: 15px;
	}
}

.product-review-part.full-page {
	#product-detail-content {
		width: 100%;
	}

	.product-sidebar-group {
		display: none;
	}
}

.product-review-part:after {
	content: '';
	display: table;
	clear: both;
}

.product-sidebar-group {
	.product-extrainfo {
		margin-bottom: 10px;

		.extrainfo-icon-left {
			float: left;
			margin-right: 10px;

			i {
				background: #696969;
				border-radius: 50%;
				color: #ffffff;
				font-size: 1.5em;
				width: 37.333px;
				height: 37.333px;
				line-height: 38px;
				text-align: center;
			}
		}

		.extrainfo-detail {
			float: left;

			.extrainfo-header {
				h3 {
					color: #696969;
					font-size: 14px;
					font-family: "Proxima Nova Regular";
					margin: 0;
					font-weight: normal;
				}
			}

			.extrainfo-description {
				p {
					color: #cccccc;
					font-size: 14px;
					font-family: "Proxima Nova Regular";
					margin: 0;
				}
			}
		}
	}

	.product-extrainfo:after {
		content: '';
		display: table;
		clear: both;
	}
}

/* Variable Product Price reset */
.product-type-variable {
	#product-detail-content {
		.grid__item {
			.price {
				ins span.woocommerce-Price-amount {
					font-size: 1.3em;
				}

				del span.woocommerce-Price-amount {
					font-size: 1em;
				}
			}
		}
	}
}

.homemarket-quickview-wrap.product-type-variable {
	.grid__item {
		.price {
			ins span.woocommerce-Price-amount {
				font-size: 1.3em;
			}

			del span.woocommerce-Price-amount {
				font-size: 1em;
			}
		}
	}
}

/*product tabs style*/
.woocommerce {
	div.product {
		.woocommerce-tabs {
			ul.tabs {
				padding: 0;
				margin: 0;

				li:before, li:after {
					border: none;
					border-radius: 0;
					position: initial;
					box-shadow: none !important;
				} 

				li:before {
					content: '';
				    background: transparent;
				    height: 3px;
				    width: 100%;
				    top: -1px;
				    left: 0;
				    position: absolute;
				}

				li {
					margin: 0;
					padding: 0 1.45em;
					border-radius: 0;
					background: #f1f1f1;
					transition: all .5s;

					a {
						color: #696969;
						font-size: 15px;
						font-weight: normal;
						text-transform: uppercase;
						padding: 0.6em 0;
					}
				}

				li.active:before {
					background: #fa5555;
				}

				li:hover {
					background: #ffffff;
				}
			}

			>div.panel {
				border: 1px solid #d3ced2;
				border-top: none;
				padding: 20px;

				p {
					color: #696969;
				}
			}
		}
	}

	#reviews {
		h1, h2, h3, h4, h5 {
			font-weight: normal;
		}

		#comments {
			border-bottom: 1px solid #e4e1e3;
			margin-bottom: 30px;
			padding-bottom: 15px;

			ol.commentlist {
				li {
					position: relative;
					padding-left: 115px;

					.user-img-thumbnail {
						position: absolute;
						left: 0;
						top: 0;

						img.avatar {
							background: transparent;
							border: none;
							box-shadow: none;
							float: none;
							position: relative;
							width: initial;
							max-width: 80px;
							padding: 0;
						}
					}

					.comment-text {
						min-height: 90px;
						margin: 0;
						background: #f5f7f7;
						border-radius: 0;

						p.meta {
							strong {
								font-size: 17px;
							}

							time {
								font-size: 13px;
							}
						}

						.star-rating:before {
							color: #ffd200;
							letter-spacing: 0.2em;
						}

						.star-rating {
							width: 6.1em;

							span:before {
								color: #ffd200;	
								letter-spacing: 0.2em;
							}
						}
					}
				}
			}
		}

		#review_form_wrapper {
			#review_form {
				label {
					padding: 0;
					font-size: 13px;
					color: #696969;
					font-weight: normal;
					display: block;
				}

				h3#reply-title {
					margin-bottom: 10px;
				}

				textarea {
					border-radius: 0;
					height: 180px;
					outline: none;
					border-color: #cccccc;
					box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
				}

				.comment-form-rating {
					a:before {
						width: 1.5em;
						height: 1.5em;
						font-size: 19px;
					}

					a {
						color: #ffd200;
						width: 1.5em;
						height: 1.5em;
						margin-right: 3px;
					}
				}

				.form-submit {
					text-align: right;

					input#submit {
						background: #e5e5e5;
						border-radius: 0;
						color: #666666;
						font-family: Lato;
						font-size: 14px;
						padding: 8px 20px;
						text-transform: uppercase;
						transition: all .3s;
					}

					input#submit:hover {
						color: #ffffff;
					}
				}

				.comment-form-email, .comment-form-author {
					input {
						width: 100%;
						border-radius: 0;
						outline: 0;
						border-color: #cccccc;
						box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
					}
				}
			}
		}
	}

	.up-sells.upsells, .related {
		h2 {
			/*border: 1px solid #d3ced2;*/
			color: #2c2c2c;
			font-size: 20px;
			font-weight: normal;
			margin: 40px 0;
			padding: 10px 20px;
			text-transform: uppercase;
		}
	}

	.cart-collaterals {
		.cart_totals {
			float: none;
			margin-top: -67px;
		}

		.wc-proceed-to-checkout {
			a {
				background: #fa5555;
				border-radius: 0;
				display: inline-block;
				transition: all .5s;
			}

			a:hover {
				background: #e5e5e5;
				color: #666666;
			}
		}

		h2 {
			font-weight: bold;
			font-size: 22px;
			color: #2c2c2c;
			text-transform: uppercase;
		}

		table.shop_table {
			border: none;

			tr {
				th, td {
					border: none;
					border-top: 1px solid #e5e5e5;
					font-family: Lato;
				}
			}

			tr.order-total {
				td {
					span {
						color: #fa5555;
						font-size: 20px;
						font-weight: bold;
					}
				}
			}

			tr.cart-subtotal {
				td {
					span {
						font-size: 16px;
						font-weight: bold;	
					}
				}
			}

			tr.shipping {
				td {
					.woocommerce-shipping-calculator {
						>p a {
							color: #000000;
							font-weight: bold;
							text-decoration: underline;
							text-transform: uppercase;
							transition: all .3s;
						}

						>p a:hover {
							opacity: .8;
						}

						.shipping-calculator-form {
							select, input {
								box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
								border-radius: 0;
							}

							button {
								background: #e5e5e5;
								color: #666666;
								border-radius: 0;
								font-family: Lato;
								text-transform: uppercase;
								transition: all .3s;
							}

							button:hover {
								background: #fa5555;
								color: #ffffff;
							}
						}
					}
				}
			}
		}
	}
}

/*cart page*/
.shopping-cart-page {
	padding-top: 190px;

	&.hide-breadcrumb {
		padding-top: 0;
	}

	#breadcrumb-wrapper {
		position: absolute;
		width: 100%;
		left: 0;
		top: -15px;
	}

	.cart-box-form {
		table.shop_table {
			border: none;
			margin-bottom: 0;

			thead {
				tr{
					border: none;
					th {
						text-align: center;
						border: none;
						border: 1px solid #e5e5e5;
						border-right: none;
						padding-top: 10px 15px;
						text-transform: uppercase;
						font-weight: 700;
						color: #2c2c2c;
					}
					th:last-child {
						border-right: 1px solid #e5e5e5;
					}
				}
			}

			tbody {
				tr{
					border: none;
					td {
						border: none;
						border-bottom: 1px solid #e5e5e5;
						border-left: 1px solid #e5e5e5;
						padding: 30px 15px; 
					}

					td:last-child {
						border-right: 1px solid #e5e5e5;
					}

					td.product-name {
						.img_item {
							float: left;
							margin: 0 20px 0 0;

							img {
								width: 85px;
							}
						}

						.info_item {
							float: left;

							a.product-title {
								color: #444444;
								font-family: Lato;
								font-size: 14px;
								font-weight: 700;
								text-transform: uppercase;
								transition: all .3s;
							}

							a.remove {
								color: #696969 !important;
								font-size: 0.9em;
								font-weight: normal;
								width: initial;
								height: initial;
								line-height: 2;
								text-align: left;
								transition: all .3s;
							}

							a.remove:hover {
								background: transparent;
								color: #fa5555 !important;
							}

							dl.variation {
								dd, dt {
									margin: 0;
								}
								dd {
									margin-left: 5px;
								}
							}
						}
					}

					td.product-price, td.product-subtotal {
						text-align: center;

						span {
							color: #2c2c2c;
							font-family: Lato;
							font-size: 22px;
							font-weight: bold;
						}
					}

					td.product-quantity {
						text-align: center;

						.quantity.homemarket-quantity {
							display: inline-flex;

							input.qty {
								width: 3.4em;
								border-radius: 0;
								border-left: none;
								border-right: none;
								outline: none;
							}
							span {
								background: #ffffff;
								border: 1px solid #e5e5e5;
								cursor: pointer;
								height: 34px;
								line-height: 35px;
								padding: 0 8px;
							}
						}
					}

					td.actions {
						border: none;

						div.coupon {
							display: inline-block;
							float: none;
							margin-right: 10px;

							input#coupon_code {
								border-radius: 0;
								padding: 9px 5px;
								width: 110px;
								height: 37px;
							}

							input.button {
								background: #fa5555;
								border-radius: 0;
								color: #ffffff;
								font-family: Lato;
								font-size: 14px;
								font-weight: bold;
								text-transform: uppercase;
								height: 37px;
								transition: all .5s;
								outline: none;
							}

							input.button:hover {
								background: #e5e5e5;
								color: #666666;
							}
						}

						input.update_cart_submit {
							display: inline-block;
							float: none;
							background: #e5e5e5;
							border-radius: 0;
							color: #666666;
							font-family: Lato;
							font-weight: bold;
							font-size: 14px;
							text-transform: uppercase;
							height: 37px;
							transition: all .5s;
							outline: none;
						}

						input.update_cart_submit:hover {
							background: #fa5555;
							color: #ffffff;
						}
					}
				}
			}
		}
	}
}

.woocommerce-message {
	background: #fa5555;
	box-shadow: 0px 0px 40px -10px rgba(0,0,0,0.2);
	border: none;  

	position: fixed;
	top: 250px;
	left: 100%; 	
	
	width: 100px;
	min-height: 100px;
	max-height: 100px;
	
	display: block;
	margin: 0 !important;
	padding: 0 !important;
	
	z-index: 9999; 
	overflow: hidden;

	animation: slide-in, slide-out;
	animation-duration: 1.5s, 1.5s;
	animation-delay: .5s, 4.5s;
	animation-fill-mode: forwards; 
	animation-timing-function: ease;

	transform: translateX(0);
	
	font-weight: bold;
	color: #FFF;
	font-size: 16px;  
	font-family: Lato;
	word-wrap: break-word;
}

.woocommerce-message {
	&:before {
		display: none;
		content: none;
	}

	.woocommerce-message-wrapper {
		display: table;
		vertical-align: middle;
		width: 100%; 
		padding: 30px; 
		min-height: 100px; 

		.success-icon {
			display: inline-block;
			vertical-align: middle;
			font-size: 36px; 
			line-height: 24px; 
			width: 10%; 
			padding-right: 25px;  
		}

		.notice_text {
			display: table-cell;
			vertical-align: middle;
			width: 90%; 
			opacity: 0; 

			animation: opacity_text_in, opacity_text_out;
			animation-delay: 1.25s, 4.65s;
			animation-duration: .5s, .5s;
			animation-fill-mode: forwards; 

			a {
				color: #ffffff;
				text-decoration: underline;
			}

			a:hover {
				opacity: 0.8;
			}

			a.button.wc-forward {
				display: none;
			}
		}
	}

	.product_notification_wrapper {
		.product_notification_background {
			background-size: cover;
		    background-position: center center;
		    width: 100px;
		    height: 100%;
		    position: absolute;
		    top: 0;
		    left: 0;
		}

		.product_notification_text {
			padding: 28px;
		    margin-left: 100px;
		    color: #fff;
		    font-size: 16px;
		    font-weight: 600;
		    vertical-align: middle;
		    text-align: left;
		    opacity: 0; 

			animation: opacity_text_in, opacity_text_out;
			animation-delay: 1.25s, 4.55s;
			animation-duration: .5s, .5s;
			animation-fill-mode: forwards; 

			a.wc-forward {
				display: none;
			}
		}
	}
}

.woocommerce-error, .woocommerce-info {
	border: none;
}

.woocommerce-error::before, .woocommerce-info::before {
	content: none;
}

@keyframes slide-in {
	0% {
		transform: translateX(800px);
		width: 100px;
		max-height: 100px;
		box-shadow: 0px 0px 40px -10px rgba(0,0,0,0.2);
	}

	50% {
		transform: translateX(-507px);
		width: 100px;
		max-height: 100px;
		box-shadow: 0px 0px 40px -10px rgba(0,0,0,0.2);
	}

	75% {
		transform: translateX(-507px);
		width: 400px;
		max-height: 100px;
		box-shadow: 0px 0px 40px -10px rgba(0,0,0,0.2);
	}

	100% {
		transform: translateX(-507px);
		width: 400px;
		max-height: 500px;
		box-shadow: 0px 0px 40px -10px rgba(0,0,0,0.5);
	}

}

@keyframes slide-out {
	0% {
		transform: translateX(-507px);
		width: 400px;
		max-height: 500px;
		box-shadow: 0px 0px 40px -10px rgba(0,0,0, 0.5);
	}

	50% {
		transform: translateX(-507px);
		width: 400px;
		max-height: 100px;
		box-shadow: 0px 0px 40px -10px rgba(0,0,0, 0.2);
	}

	75% {
		transform: translateX(-507px);
		width: 100px;
		max-height: 100px;
		box-shadow: 0px 0px 40px -10px rgba(0,0,0, 0.2);
	}

	100% {
		transform: translateX(800px);
		width: 100px;
		max-height: 100px;
		box-shadow: 0px 0px 40px -10px rgba(0,0,0, 0.2);
	}

}

@keyframes opacity_text_in {
	0% {
		opacity: 0; 
	}

	80% {
		opacity: 0; 
	}

	100% {
		opacity: 1; 
	}

}

@keyframes opacity_text_out {
	0% {
		opacity: 1; 
	}

	80% {
		opacity: 1; 
	}

	100% {
		opacity: 0; 
	}

}

/* Cart Empty page, Sales mark */
.woocommerce {
	.cart-empty {
		color: #777777;
		font-family: Lato;
		font-size: 14px;
		font-weight: normal;
		margin-bottom: 20px;
	}

	.return-to-shop {
		a.wc-backward {
			background: #fa5555;
			border: none;
			border-radius: 0;
			outline: none;
			color: #ffffff;
			font-family: Lato;
			font-size: 18px;
			font-weight: normal;
			padding: 10px 16px;
			transition: all .5s;
		}

		a.wc-backward:hover {
			color: #666666;
			background: #e5e5e5;
		}
	}

	.products.product-display-custom {
		.product {
			.onsale {
				left: 0;
				top: 6px;
				right: auto;
				min-height: 2.236em;
				background-color: #b50000;
				color: #ffffff;
				padding: 0 8px;
				border-radius: 0;
				z-index: 10;
				line-height: 2.236;
			}

			.onsale:before {
				top: 100%;
			    left: 50%;
			    border: solid transparent;
			    content: " ";
			    height: 0;
			    width: 0;
			    position: absolute;
			    pointer-events: none;
			    border-color: rgba(181, 0, 0, 0);
			    border-top-color: #b50000;
			    border-width: 5px;
			    margin-left: -5px;
			}
		}
	}
}

/* vc single carousel slider custom */
.vc_images_carousel .vc_carousel-control .icon-next, 
.vc_images_carousel .vc_carousel-control .icon-prev {
	background: #ffffff;
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 50%;
}

.vc_images_carousel .vc_carousel-control .icon-next:before, 
.vc_images_carousel .vc_carousel-control .icon-prev:before {
	top: 0 !important;
	color: #bfbfbf;
}

/* Product View Layout */
.woocommerce.hidden_rating {
	.products.product-display-custom .product .star-rating {
		display: none;
	}
}

.woocommerce.hidden_price {
	.products.product-display-custom .product .price {
		display: none;
	}
}

.woocommerce.hidden_title {
	.products.product-display-custom .product > h3 {
		display: none;
	}
}

.woocommerce.hidden_desc {
	.products.product-display-custom .product .description {
		display: none;
	}
}

.woocommerce.hidden_cart_btn {
	.products.product-display-custom .product .add-btns-wrap {
		display: none;
	}
}

#introLoader {
	background-color: #ffffff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	z-index: 999999;

	#introLoaderSpinner {
		background-image: url(../images/circle-bub_dark.gif);
		background-color: #333;
		position: absolute;
		top: 0; left: 0; right: 0; bottom: 0;
		background-repeat: no-repeat;
		background-position: center center;
	}
}

.wysija-paragraph {
	label {
		float: left;
		margin: 4px 20px 0 0;
	}
}