@font-face {
    font-family: 'Proxima Nova Regular';
    src: url("fonts/proximanovareg-webfont.eot");
    src: url("fonts/proximanovareg-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/proximanovareg-webfont.woff2") format("woff2"), url("fonts/proximanovareg-webfont.woff") format("woff"), url("fonts/proximanovareg-webfont.ttf") format("truetype"), url("fonts/proximanovareg-webfont.svg#proxima_nova_rgregular") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'icons';
    src: url("fonts/icons.eot");
    src: url("fonts/icons.eot#iefix") format("embedded-opentype"), url("fonts/icons.woff") format("woff"), url("fonts/icons.ttf") format("truetype"), url("fonts/icons.svg#timber-icons") format("svg");
    font-weight: normal;
    font-style: normal
}