

/************************Redux framework admin custom *************************/

.redux-container .form-table > tbody > tr > th {
	width: 30%;
}

.redux-container .redux_field_th {
    padding: 40px 10px;
}

.redux-container #redux-header .redux-dev-mode-notice-container,
.redux-container #redux-header .rAds,
.redux-timer
{
	display: none !important;
	visibility: hidden !important;
	width: 0 !important;
	height: 0 !important;
	overflow: hidden !important;
	position: relative !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
}

.woocommerce table.form-table .select2-container.redux-typography {
	min-width: initial !important;
}

.redux-message,
#redux_dashboard_widget
{
	display: none !important;
}
.redux-container .redux-group-tab h3 {
    display: inline-block;
    margin: 0;
    top: -2px;
    position: relative;
}

.field-background-url .background-field-options {
	display: none;
	padding: 8px 0 0 24px;
}

.field-background-url .background-field-options label {
	display: block;
	margin-bottom: 10px
}

.menu .menu-item .field-background-url {
	display: none;
}

.menu .menu-item.menu-item-depth-0 .field-background-url {
	display: block;
}

.menu .menu-item  .field-custom-content i {
	display: block;
    float: left;
    font-size: 20px;
    margin-top: 3px;
    margin-bottom: 10px;
    padding-right: 10px;
}

/*js composer icon add*/
.vc_el-container .homemarket-js-composer:not([data-is-container=true]),
.wpb_element_title .homemarket-js-composer { background: url(../images/homemarket_theme_options/icons/js-composer.png) no-repeat; background-position: center center; background-size: 100% auto; }

.redux-container .ui-button {
	height: auto;
	padding: 3px;
}

.homemarket-install-plugins .theme-browser {
	margin: 0 -15px;
}

.homemarket-install-plugins .theme-browser .theme {
	padding: 0 15px;
    margin: 0 0 30px 0;
    width: 25%;
    cursor: default;
    border: none;
    box-shadow: none;
}

.homemarket-install-plugins .theme-browser .theme .theme-wrapper {
	box-shadow: 0 1px 1px -1px rgba(0,0,0,0.1);
	border: 1px solid #ddd;
}
.homemarket-welcome img {
	opacity: 1 !important;
}

.homemarket-welcome h1 {
	margin: .2em 200px 0 0;
	padding: 0;
	color: #32373c;
	line-height: 1.2em;
	font-size: 2.8em;
	font-weight: 400;
}

.homemarket-welcome h2 {
	text-align: left;
	font-size: 2.3em;
	font-weight: normal;
}

.homemarket-install-plugins {
	border-bottom: 1px solid #cccccc;
}

.homemarket-install-plugins .plugin-info {
	font-size: 13px;
	position: absolute;
	text-align: center;
	top: 85%;
	width: 100%;
}

.homemarket-install-plugins .theme-browser .theme .theme-actions {
	opacity: 1 !important;
    bottom: -2px;
    right: 16px;
    background: transparent;
    border: none;
    box-shadow: none;
    top: initial;
    padding: 0 15px;
}

.homemarket-install-plugins .plugin-required,
.homemarket-install-plugins .theme-update {
	font-size: 11px;
    background: rgba(213, 78, 33, 0.95) none repeat scroll 0 0;
    color: #fff;
    padding: 5px;
    position: absolute;
    text-transform: uppercase;
    top: 0;
}
.homemarket-install-plugins .theme-update {
	z-index: 1;
}

.homemarket-demo-import-section .import-header-section {
	margin-bottom: 40px;
}

.homemarket-demo-import-section .import-header-section a.demo-tab-switch {
	color: #0073aa;
	text-decoration: none;
	font-size: 13px;
	padding: 8px 15px;
	float: left;
	margin: 2px 20px 0 0;
}

.homemarket-demo-import-section .import-header-section a.demo-tab-switch.error {
	color: #db3431 !important;
}

.homemarket-demo-import-section .import-header-section a.demo-tab-switch.active {
	color: #666666;
	background: #ffffff;
	border: 1px solid #e4e4e4;
	border-radius: 15px;
	margin: 1px 20px 0 0;
	box-shadow: 0 2px 2px #aaaaaa;
}

.homemarket-demo-import-section .import-header-section .clear {
	clear: both;
}

#status_tab {
	display: none;
    overflow: hidden;
    transition: all .3s ease;
    float: left;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
}

.demo-import-status {
	width: 98%;
	border: 1px solid #f1f1f1;
	margin-bottom: 40px;
}

.demo-import-status thead td {
	padding: 15px 30px 15px 30px;
    background: #FFF;
    font-weight: bold;
    border-bottom: solid 1px #e5e5e5;
}

.demo-import-status tbody tr td {
	padding: 10px 30px;
	background: #fcfcfc;
	font-size: 14px;
}

.demo-import-status tbody tr td:first-child {
	width: 35%;
}

.demo-import-status tbody tr:nth-child(2n) td {
	background: #ffffff;
}

.demo-import-status mark {
	background: none; margin-right: 8px;
}

.demo-import-status mark.activated span {
	color: #49b246;
}

.demo-import-status mark.error {
	color: #db3431;
}

.import-success {
	background: #ffffff;
	border-left: 4px solid #46b450;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	margin: 10px 10px 20px 0;
	padding: 1px 38px 1px 12px;
	font-size: 13px;
	line-height: 20px;
}

.import-success p {
	padding: 2px; margin: 7px 0;
}

.import-error {
	background: #ffffff;
	border-left: 4px solid #dc3232;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	margin: 0 0 50px;
	padding: 1px 0 1px 12px;
	font-size: 13px;
	line-height: 20px;
}

.import-error p {
	padding: 2px; margin: 7px 0;
}

.import-error a {
	outline: none !important;
	font-weight: bold;
	box-shadow: none;
}

.import-error a, .import-error .dashicons {
	color: #db3431;
}

#demo_tab .import-demos-area .demo {
	position: relative;
	width: 100%;
}

#demo_tab .import-demos-area .demo:after {
	content: '';
	display: block;
	clear: both;
}

#demo_tab .import-demos-area .demo .demo-screenshot {
	position: relative;
	width: 25%;
	float: left;
	padding: 0 15px;
	box-sizing: border-box; margin-bottom: 30px;
}

#demo_tab .import-demos-area .demo .demo-screenshot img {
	width: 100%;
}

#demo_tab .import-demos-area .demo .demo-screenshot .demo-info {
	font-size: 18px;
	color: #ffffff;
	position: absolute;
	left: 0;
	top: 0;
    width: 100%;
    height: 100%;
    padding: 60px 50px;
    line-height: 30px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
}

#demo_tab .import-demos-area .demo .demo-screenshot:hover .demo-info {
	visibility: visible;
	opacity: 1;
}

#demo_tab .import-demos-area .demo .demo-screenshot .demo-actions {
	position: absolute;
    bottom: 11px;
    right: 25px;
    z-index: 9;
}

#demo_tab .import-demos-area .demo .demo-disabled {
    font-size: 18px;
    color: #FFF;
    position: absolute;
    left: 0;
    top: -15px;
    width: 100%;
    height: 100%;
    padding: 60px 50px;
    line-height: 30px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
    transition: all .3s;
    z-index: 999;
}

.demo-import-loader {
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
    display: none;
}

.demo-import-loader i {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    height: 32px;
    width: 32px;
    top: 210px;
    position: relative;
    font-size: 32px;
    line-height: 32px;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

#homemarket-install-options {
	margin-bottom: 25px;
}

#homemarket-install-options label {
	display: block;
	margin-bottom: 10px;
}

#import-status {
	padding-bottom: 30px;
}

.import-progress-bar {
	margin-top: 10px;
	background: #cccccc;
	width: 100%;
	height: 20px;
	border: 1px solid #cccccc;
}

.import-progress-bar div {
	background: #08c;
	height: 20px;
}